html,
body {
  background-color: darkslateblue;
}
.background {
  position: absolute;
  background-color: blueviolet;
  height: 90%;
  width: 100%;
}
.signup-page{
  display:grid;
  grid-template-columns: 2fr 3fr;

}
main {
  width:80%;
  margin-left:10%;
  top:200px;
  position: absolute;
  color: white;
}
.back{
  background-color: transparent;
  border:none;
  font-size: larger;
  color:white;
  border-bottom: dashed white 2px;
}
.back:hover{
cursor:pointer;
border-bottom: solid white 2px;
font-weight: bold;
}
.edit-btn{
  background-color: rgb(241, 193, 51);
  border:none;
  border-radius: 5px;
  color:black;
}
.edit-btn:hover{
  cursor: pointer;
  background-color:rgb(211, 160, 4) ;
}
.delete-btn{
  background-color: rgb(236, 42, 8);
  border:none;
  border-radius: 5px;
  color:white;
  padding:10px;
}
.delete-btn:hover{
  cursor: pointer;
  background-color:rgb(253, 1, 1);
}
.single-btns{
  display:flex;
  justify-content: space-between;
}
