html,
body {
  background-color: darkslateblue;
}
.background {
  position: absolute;
  background-color: blueviolet;
  height: 100%;
  width: 100%;
}
.signup-page{
  display:grid;
  grid-template-columns: 2fr 3fr;

}
main {
  width:80%;
  margin-left:10%;
  top:200px;
  position: absolute;
  color: white;
}
